.aboutSection {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 2rem;

    /* YUMŞAQ OVERLAY ARXA FON */
    background: linear-gradient(to bottom,
    transparent,
            rgba(31, 62, 102, 0.1) 2%,
            /* əvvəl az görünsün */
            rgba(1, 32, 68, 0.7) 37%,
            rgba(19, 35, 67, 0.6) 80%,
            transparent
            );
    /* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(1, 181, 235, 1) 69%, rgba(0, 212, 255, 1) 100%); */
    color: white;

    background-size: cover;
    background-position: center;
}

.aboutTextCard {
    box-shadow: 2px 3px 4px #0d92f1;
    z-index: 1000;
    background: linear-gradient(125deg, #fdfeff, #fafcff, #d4e7ff, #d5ebf8);
}

.aboutCardBgImage {
    background: linear-gradient(125deg, #88b8e9, #82adee, #d4e7ff, #7fccf9, #1c3a4c);
    height: auto;
    padding: 5px;
    border-radius: 40px;
}